
.container{
    margin: 0px;
    margin-top: 20px;
    padding: 10px;
}

#alert-additional-content-5{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;    
}

#alert-additional-content-5 > :first-child{
    margin: 20px;
}


#croquet-dommages-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.ajouter-dossier-container{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100%;
}

.recto-verso , .dommages {
    font-family: "Comfortaa", sans-serif;
    letter-spacing: 2px;
    font-weight: bolder;
}

.report-creation-options-container{
    display: flex;
}
.report-creation-options-container>a{
    margin: 10px;
}
.inline-flex{
    flex: 1;
}
.title-page{
    color: rgb(35, 33, 33);
    text-align: center;
    font-family: "Comfortaa", sans-serif;
}
.flex-wrap-reverse div:first-child{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.flex-wrap-reverse div:first-child > .ul1{
    flex: 1.29;
    list-style: none;
    
}
.flex-wrap-reverse div:first-child > .ul2{
    flex: 1;
    list-style: none;
}
.flex-wrap-reverse div:first-child > ul >li{
    font-family: "Comfortaa", sans-serif;
}
/* .report-creation-via-vrd1{
    display: none;
}*/
#uls-container{
    display: none;
} 
.disabled {
    pointer-events: none; /* Disable mouse events */
    opacity: 0.5; /* Make the div look disabled */
    background-color: #ccc;
}
#retry-btn{
    margin: 30px;
    justify-content: center;
}



#recto-verso {
    display: flex;
    flex-direction: col;
    gap: 16px; 
    align-items: center; 
}

#recto-verso > #image-flip{
    display: flex;
    flex-direction: row;
    flex: 2;
    gap: 16px;
}

#image-flip>div{
    flex: 1;
}

#recto-verso > button {
    flex: 1; 
}

#recto-verso > button {
    margin-top: 0; 
}



#report-creation-via-vrd1{
    display: none;
}
