
.container{
    margin: 0px;
    margin-top: 20px;
    padding: 10px;
}

#alert-additional-content-5{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;    
}

#alert-additional-content-5 > :first-child{
    margin: 20px;
}


#croquet-dommages-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    flex-direction: column;
}

.ajouter-dossier-container{
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 100%;
}

.recto-verso , .dommages {
    font-family: "Comfortaa", sans-serif;
    letter-spacing: 1px;
    font-weight: bolder;
}

.report-creation-options-container{
    display: flex;
}
.report-creation-options-container>a{
    margin: 10px;
}
.inline-flex{
    flex: 1;
}
.title-page{
    color: rgb(35, 33, 33);
    text-align: center;
    font-family: "Comfortaa", sans-serif;
}
.flex-wrap-reverse div:first-child{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
.flex-wrap-reverse div:first-child > .ul1{
    flex: 1.29;
    list-style: none;
    
}
.flex-wrap-reverse div:first-child > .ul2{
    flex: 1;
    list-style: none;
}
.flex-wrap-reverse div:first-child > ul >li{
    font-family: "Comfortaa", sans-serif;
}

#uls-container{
    display: none;
} 
.disabled {
    pointer-events: none;
    opacity: 0.5; 
    background-color: #ccc;
}
#retry-btn{
    margin: 30px;
    justify-content: center;
}



#recto-verso {
    display: flex;
    flex-direction: col;
    gap: 16px; 
    align-items: center; 
}

#recto-verso > #image-flip{
    display: flex;
    flex-direction: row;
    flex: 2;
    gap: 16px;
}

#image-flip>div{
    flex: 1;
}

#recto-verso > button {
    flex: 1; 
}

#recto-verso > button {
    margin-top: 0; 
}



#report-creation-via-vrd1{
    display: none;
}


/* ? STYLING THE CONTAINER OF UNORDERED LIST FOR BETTER VISUALIZATION */

#uls-container{
    display: flex;
    flex-direction: row;
}
#uls-container > ul{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin: 0 40px 0 40px;
}
#uls-container > ul:first-child > li ,  #uls-container > ul:nth-child(2) > li{
    flex: 1;
    display: flex;
    flex-direction: column;
}


#uls-container > ul:first-child > li input , #uls-container > ul:first-child > li label{
    padding: 5px;
    flex: 1;
}

#uls-container > ul:nth-child(2) > li input , #uls-container > ul:nth-child(2) > li label{
    padding: 5px;
    flex: 1;
}


#uls-container {
    margin: 0;
    padding: 0;
    width: 100%;
}

#top-uls-container {
    width: 100%;
    padding: 30px; 
    margin-bottom: 30px; 
}

#alert-additional-content-5 {
    padding-left: 0;
    padding-right: 0;
}
#alert-additional-content-5{
    margin-top: 0px;
}
.severity-header{
    font-family: "Comfortaa", sans-serif;
    font-weight: bolder;
    letter-spacing: 1px;
    margin: 0 20px 20px 20px;
}
.severity-txt{
    font-family: "Comfortaa", sans-serif;
    letter-spacing: 1px;
    margin: 20px;
}
.severity{
    font-family: "Comfortaa", sans-serif;
    letter-spacing: 1px;
    font-size: 13px;
}
#severity-container{
    margin: 20px;
}
.elm5{
    margin-left: 25px;
}
.elm6{
    margin-left: -4px;
}

.dommages-guide{
    font-family: "Comfortaa", sans-serif;
    letter-spacing: 0.5px;
    margin: 20px;
}
.severity-side{
    margin-left: 30px;
}


#toggleModal{
    display: none;
}

