.page-title{
    font-family: "Comfortaa", sans-serif;
    text-align: center;
}
#dossier-filter{
    margin: 40px;
}
/* 
.backdrop-blur-sm {
    backdrop-filter: blur(1px);
} */

#dossiers-container{
    margin-top: 20px;
}

#dossiers-grid{
    margin-top: 30px;
}


#dropdown-states {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    z-index: 1000;
}

#dropdown-states::-webkit-scrollbar {
    width: 8px;
}

#dropdown-states::-webkit-scrollbar-track {
    background: #f1f1f1;
}

#dropdown-states::-webkit-scrollbar-thumb {
    background: #888;
}

#dropdown-states::-webkit-scrollbar-thumb:hover {
    background: #555;
}



#loading-spinner {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
  }
  
  .spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-left-color: #000;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  

  #reportrange {
    background: #fff;
    cursor: pointer;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
    border: 2px solid #009999;
    border-radius: 9999px;
    width: 10%;
    box-sizing: border-box;
    text-align: center;
}


